<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  -->
  <% if (!WORDI) { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%- pageTitle %>">
  <meta name="twitter:description" content="The and thesaurus for learners of English. Meanings and definitions of words with pronunciations.">
  <meta name="twitter:image" content="<%- icon %>">
  <meta property="og:title" content="<%- pageTitle %> " />
  <meta property="og:description" content="The and thesaurus for learners of English. Meanings and definitions of words with pronunciations.">
  <meta property="og:image" content="<%- icon %>" />
  <meta name="theme-color" content="#0f173b">
  <meta name="description" content="The and thesaurus for learners of English. Meanings and definitions of words with pronunciations.">
  <meta name="keywords" content="dictionary,en,translate,meaning">
  <meta name="author" content="<%- pageTitle %>">
  <% } %>



  <!--  -->

  <title>
    <%= pageTitle %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  </link>


  <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>

  <link rel="icon" href="<%- icon %>">
  </link>

</head>

<body>

  <% if(!WORDI) { %>

    <nav class="navbar">
      <a href="/"><img class="logo" src="<%- icon %>"></a>
      <form action="/" method="GET">
        <input name="word" id="search" class="search sans" type="text" placeholder="Please Enter The Word To Search">
      </form>
    </nav>

    <div class="alarm aviny">
      Welcome To <%- pageTitle %></br>For Start Using, Type The Word In <a class="alarm_a" href="#search">Input</a> Section
    </div>

  <% } else { %>

    <% if(word && !e) { %>

      <nav class="navbar">
        <a href="/"><img class="logo" src="<%- icon %>"></a>
        <form action="/" method="GET">
          <input name="word" class="search sans" type="text" placeholder="Please Enter The Word To Search">
        </form>
      </nav>

      <div class="sans meaning_sec">
        <div class="title"><i>Meaning of <b><%- word %> </b> in English</i></div>
        <hr>

        <h3>Word : <%- word %></h3>
        <h3>Type : <i><b><%- type %></b></i></h3>
        <h3>Pronounciation : </h3>
        /<%- pronounciation %>/


        <% audio.forEach(voice => { %>
          <% if(voice.type === 'audio/mpeg') {%>

            <div id="wrapper">
              <div id='player'>
                <audio id="music_player">
                  <source src="<%- voice.url %>" type="<%- voice.type %>" />
                </audio>
                <input type="image" src="http://talkerscode.com/webtricks/demo/images/play.png" onclick="play_aud()" id="play_button">
                <input type="image" src="http://talkerscode.com/webtricks/demo/images/pause.png" onclick="pause_aud()" id="play_button">
                <input type="range" id="change_vol" onchange="change_vol()" step="0.05" min="0" max="1" value="1">

              </div>
            </div>

          <% } %>
        <% }) %>

        <hr>

        </br>
        <h3>Meaning :</h3>
        <h4 class="meaning"><%- meaning %></h4>

        <% if (examples[0]) { %>
          <h3>Examples :</h3>

          <ul>
            <% examples.forEach(example => { %>
              <li><i><%- example %></i></li>
            <% }) %>
          </ul>
        <% } else { %>
          <h3>No Example Found !!!</h3>
        <% } %>
      </div>
      
    <% } %> 

  <% } %>


</body>

<script src="/js/main.js"></script>

</html>