<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  -->

  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="YouTube Channel Info">
  <meta name="twitter:description" content="Get Any YouTube Channel Info">
  <meta name="twitter:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png">
  <meta property="og:title" content="YouTube Channel Info" />
  <meta property="og:description" content="Get Any YouTube Channel Info">
  <meta property="og:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png" />
  <meta name="theme-color" content="#f2d983">
  <meta name="description" content="Get Any YouTube Channel Info">
  <meta name="keywords" content="dictionary,en,translate,meaning>
  <meta name=" author" content="YouTube Channel Info">



  <!--  -->

  <title>
    <%= pageTitle %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  </link>


  <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>

  <link rel="icon" href="<%- icon %>">
  </link>

</head>

<body>

  <% if(!WORDI) { %>

    <nav class="navbar">
      <a href="/"><img class="logo" src="<%- icon %>"></a>
      <form action="/" method="GET">
        <input name="word" id="search" class="search sans" type="text" placeholder="Please Enter The Word To Search">
      </form>
    </nav>

    <div class="alarm aviny">
      Welcome To <%- pageTitle %></br>For Start Using, Type The Word In <a class="alarm_a" href="#search">Input</a> Section
    </div>

  <% } else if (WORDI && word && meaning) { %>

      <nav class="navbar">
        <a href="/"><img class="logo" src="<%- icon %>"></a>
        <form action="/" method="GET">
          <input name="ID" class="search sans" type="text" placeholder="Please Enter The Word To Search">
        </form>
      </nav>

      <div class="sans meaning_sec">
        <div class="title"><i>Meaning of <b><%- word %> </b> in English : </i></div>
        <hr>

        <h3><%- word %></h3>
        <h4><i><b><%- type %></b></i></h4>
        <h6>/<%- pronounciation %>/</h6>
        audio
        <hr>

        </br>
        <%- meaning %>
        <% if (examples) { %>
          <ul>
            <% examples.forEach(example => { %>
              <li><i><%- example %></i></li>
            <% }) %>
          </ul>
        <% } %>
      </div>

  
  <% } else if (WORDI && e) { %>

    <nav class="navbar">
      <a href="/"><img class="logo" src="<%- icon %>"></a>
      <form action="/" method="GET">
        <input name="ID" class="search sans" type="text" placeholder="Please Enter The Word To Search">
      </form>
    </nav>

    WORD && !OUTPUT && ERR

  <% } %>




  <!-- <div class="footer sans">
    <h4>
      Created By <a class="fotter_a" href="https://hadi-az.me" target="_blank">Hadi.az</a> | <a class="fotter_a" href="https://github.com/hadiazt/En-Dictionary" target="_blank">Source</a>
      </br>
    </h4>
  </div> -->

</body>



</html>