<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  -->
  <% if (!WORDI) { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%- pageTitle %>">
  <meta name="twitter:description" content="The and thesaurus for learners of English. Meanings and definitions of words with pronunciations.">
  <meta name="twitter:image" content="<%- icon %>">
  <meta property="og:title" content="<%- pageTitle %> " />
  <meta property="og:description" content="The and thesaurus for learners of English. Meanings and definitions of words with pronunciations.">
  <meta property="og:image" content="<%- icon %>" />
  <meta name="theme-color" content="#0f173b">
  <meta name="description" content="The and thesaurus for learners of English. Meanings and definitions of words with pronunciations.">
  <meta name="keywords" content="dictionary,en,translate,meaning">
  <meta name="author" content="<%- pageTitle %>">
  <% } %>




  <!--  -->

  <title>
    <%= pageTitle %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  </link>


  <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>

  <link rel="icon" href="<%- icon %>">
  </link>

</head>

<body>

  <% if(!WORDI) { %>

  <nav class="navbar">
    <a href="/"><img class="logo" src="<%- icon %>"></a>
    <form action="/" method="GET">
      <input name="word" id="search" class="search sans" type="text" placeholder="Please Enter The Word To Search">
    </form>
  </nav>

  <div class="alarm aviny">
    Welcome To <%- pageTitle %></br>For Start Using, Type The Word In <a class="alarm_a" href="#search">Input</a> Section
  </div>

  <% } else { %>

  <% if(word) { %>
  <nav class="navbar">
    <a href="/"><img class="logo" src="<%- icon %>"></a>
    <form action="/" method="GET">
      <input name="word" class="search sans" type="text" placeholder="Please Enter The Word To Search">
    </form>
  </nav>

  <div class="sans meaning_sec">
    <div class="title"><i>Meaning of <b><%- word %> </b> in English</i></div>
    <hr>

    <h3>Word : <%- word %></h3>
    <h3>Type : <i><b><%- type %></b></i></h3>
    <h3>Pronounciation : </h3>
    <% audio.forEach(voice => { %>

    <% if(voice.type === 'audio/mpeg') {%>
        <audio controls>
          <source src="<%- voice.url %>" type="<%- voice.type %>">
          Your browser does not support the audio tag.
        </audio>
    <% } %>

    <% }) %>
    /<%- pronounciation %>/
    audio
    <hr>

    </br>
    <%- meaning %>
    <% if (examples) { %>
    <ul>
      <% examples.forEach(example => { %>
      <li><i><%- example %></i></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
  <% } %>

  <% } %>



  <!-- <div class="footer sans">
    <h4>
      Created By <a class="fotter_a" href="https://hadi-az.me" target="_blank">Hadi.az</a> | <a class="fotter_a" href="https://github.com/hadiazt/En-Dictionary" target="_blank">Source</a>
      </br>
    </h4>
  </div> -->

</body>



</html>